<h1>
    Upload Medidata RAVE ALS for CDE Validation
</h1>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage" [innerHTML]="errorMessage">
</div>

<div class="alert alert-warning" role="alert" *ngIf="isValidating">
   Validation is in progress. Please wait to upload a new file.
</div>

<div class="alert alert-warning" role="alert" *ngIf="isGeneratingXML">
    XML generation is in progress. Please wait to upload a new file.
</div>

<div class="uploadInstructions">
    "Instructions"
    <ol>
        <li>Export the forms as a Rave ALS using Rave Architect
            <ul>
                <li>This file will be saved as .xml</li>
            </ul>
        </li>
        <li>Launch Microsoft Excel</li>
        <li>Select "Open" from the Excel menu bar</li>
        <li>Select the .xml file
            <ul>
                <li>It will open in Excel and multiple spreadsheets will be displayed</li>
            </ul>
        </li>
        <li>Select "File" from the Excel menu bar</li>
        <li>Select "Save As"</li>
        <li>Select "Excel Workbook (.xlsx)" from the File Format drop down</li>
    </ol>
</div>
<form #alsForm="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input [disabled]="isValidating || isGeneratingXML" type="text" class="form-control" id="name" required [(ngModel)]="name" name="name" #error_name="ngModel">
        <div [hidden]="error_name.valid || (error_name.pristine && !submitted)" class="alert alert-danger">Name is required</div>
    </div>
    <div class="form-group">
        <label for="alsFile">ALS File</label>
        <input type="file" accept=".xlsx, .xls, .xml" class="form-control-file" [disabled]="isValidating || isGeneratingXML" (change)="getFile($event)" id="alsFile" required [(ngModel)]="alsFile" name="alsFile" #error_file="ngModel">
        <div class="help_text ">Rave ALS xml files need to be opened in Excel <br /><span class="filetype_line2">and saved as Excel Workbook (*.xlsx).</span></div>
        <!-- checking for file is because microsoft edge doesn't recognize .valid even when file is selected. file is set as formData in ts file -->
        <div [hidden]="error_file.valid || (error_file.pristine && !submitted) || file" class="alert alert-danger">ALS File is required</div>
    </div>

    <button [disabled]="submitted&&(uploadProgress>0 && uploadProgress<100) || isValidating || isGeneratingXML" type="submit" class="btn btn-primary" (click)="submitForm(error_name, error_file)">Submit</button>
    <div *ngIf="uploadProgress!=0"><br />
        <app-progress-bar [statusMessage]="'Uploading'" [percentage]="uploadProgress"></app-progress-bar>
    </div>
</form>
