<h2>
    Application Support
</h2>
<p>CBIIT and NCIP Application Support is dedicated to helping users obtain maximum benefit from program resources. Application Support exists to help users find what they need, use and re-use software, integrate data and applications, and facilitate the sharing of information and resources.</p>
<p>Please note that NCI computer services are distinct from the CBIIT and NCIP Application Support information listed on this page. For NCI computer and technical support, please visit <a href="https://service.cancer.gov" target="_blank" class="ext">NCI at Your Service<span class="ext" aria-label="(link is external)"></span></a>.</p>
<p><strong>Application Support Telephone: 240-276-5541 or toll free: 888-478-4423<br>
  Email:&nbsp;</strong><a class="spamspan mailto" href="mailto:NCIAppSupport@nih.gov">NCIAppSupport@nih.gov</a></p>
  <p>Telephone support is available Monday to Friday, 9:00 a.m. to 5:00 p.m. Eastern Time, excluding government holidays. Leave a message or send an email at any time. When submitting support requests via email, please include:</p>
  <p>&nbsp;When submitting support requests please include:</p>
  <ul><li>contact information so Application Support can reply</li>
    <li>the name of the application with the issue</li>
    <li>the URL if it is a web-based application</li>
    <li>a description of the problem and steps to re-create it</li>
    <li>the text of any error messages</li>
  </ul>