html {
overflow-y:scroll;
}

body {
    font-family:"Noto Sans", "Century Gothic", Arial, sans-serif;
    font-size:13px !important;
    background-color:#123E57 !important;
}

header {
background-color:#fff;
padding-bottom:10px;
padding-top:10px;
}

header div {
display:block;
margin:auto;
width:1140px;
}

header div img {
    max-width:700px;
    padding-top:10px; 
    padding-bottom:10px; 
}

#container {
background-color:#fff;
margin:auto;
width:1140px;
}

#content {
background: #f7f8f3 url('https://www.cancer.gov/publishedcontent/images/images/design-elements/background-graphics/hexagon_molecular_structure_body.__v15447219.png') no-repeat;
background-position-x: 108%;
background-size:30%;
margin:0;
padding:0;
}

#main {
-webkit-box-shadow:10px 0 10px -7px rgba(0,0,0,.5), -10px 0 10px -7px rgba(0,0,0,.5);
box-shadow:10px 0 10px -7px rgba(0,0,0,.5), -10px 0 10px -7px rgba(0,0,0,.5);
padding-bottom:100px;
padding-left:0px;
padding-top:40px;
background-color:#FFFFFB;
}

#main #component {
min-height:410px;
padding-left:40px;
width:910px;
}

#main #component div {
display:block;
}

#main #component h2 {
margin-bottom:25px;
}

#main div {
display:inline-block;
vertical-align:top;
}


.btn.btn-primary {
background-color:#1C5E86!important;
border-width:0;
font-size:13px;
font-weight:700;
padding:10px 15px;
}


.nav-item {
padding-bottom:15px;
padding-right:10px;
}

.nav-item a {
border:1px solid #606a76!important;
color:#07486e!important;
font-size:13px;
font-weight:700;
padding:10px;
}

.nav-link.active {
color:#fff!important;
}

.nav-pills .nav-link.active,.nav-pills .show>.nav-link {
background-color:#1C5E86!important;
}

.tab-pane {
padding-top:0;
}

a {
color:#07486e!important;
}

footer {
background-color:#123E57;
color:#fff;
font-size:16px;
margin-top:40px;
text-align:center;
}

footer a {
color:#fff!important;
font-size:12.8px;
font-weight:700;
}

form {
width:50%;
}

form input {
font-size:14px!important;
}

form label {
font-size:14px;
}


table.dataTable thead th,table.dataTable thead td,table.dataTable tbody td {
vertical-align:top!important;
}

.help_text {
 font-size:13px;
 font-style:italic;
 color:#717171;
}

.help_text::before {
content: "» "
}
