/* top header navigation */
#topnavigation {
	display:block;
    background: #363636;
    background: -webkit-gradient(linear,left top,left bottom,from(#363636),to(#4a4a4a));
    background: linear-gradient(180deg,#363636,#4a4a4a);	
	margin-top:0px;
	text-transform:uppercase;
    font-family:Montserrat, "Avant Garde", Arial, sans-serif;	
}


#topnavigation ul {
	width: 1140px;
	list-style: none;
	padding: 0px;
	margin:auto;
font-family:"Helvetica Neue", Arial, sans-serif;

}

#links ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

#links ul li {
	margin: 0px;
	display: inline-block;
}



#links ul li a {
	color: #fff !important;
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	font-size:13px;
}

#links ul li a:hover {
	background-color: #fff;
	color: #2f2f2f !important;
	border-bottom:7px solid #14819B;
	padding: 15px 20px 8px 20px;
}


/* end top header navigation */

#utility-bar {
background:#2A71A5;
display:block;
font-size:13px;
padding:15px 0px;
text-transform:uppercase;
font-family:"Helvetica Neue", Arial, sans-serif;

}

#utility-bar .cLinks {
margin:auto;
width:1140px;
}

#utility-bar .cLinks i {
font-weight:400;
margin-right:40px;
}

#utility-bar .cLinks i a {
color:#fff!important;
font-style:normal;
padding-left:20px;
}

#utility-bar .cLinks i a:hover {
text-decoration:none;
}




#leftnav {
    font-family:Montserrat, "Avant Garde", Arial, sans-serif;
    text-transform: capitalize;
    font-size:14px;
    font-weight:700;
    width: 200px;
}
    #leftnav ul{
        list-style: none;
        padding: 0px;
        margin: 10px 0px 0px 0px;
        width: 170;
        position:relative;

    }

    #leftnav li{
        border-top: 1px solid #d5d5d2;
    }

    #leftnav .selected a {
        background-color:#14819b;
		color:#fff !important;
    }    



    #leftnav .selected::after {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #14819b;
        border-width: 19px;
        margin-top: -37px;
    }

    #leftnav a {
        color:#606060 !important;
        text-decoration: none;
        display:block;
        padding:8px 0px 8px 10px;
    }

        #leftnav .selected a {
            color:#fff;
        }

            #leftnav .selected a:hover {
                color:#fff;
            }