<h1>
   Medidata RAVE ALS Form List
</h1>
<div *ngIf="validating">
    <button (click)="cancelValidation()" class="btn btn-primary" [disabled]="!validating">Cancel Validation</button>
</div>
<div class="alert alert-danger" role="alert" *ngIf="!(formListData | async)?.formsList.length">
    Please upload a file with form data.
</div>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>

<ng-container *ngIf="(formListData |  async)?.formsList.length">
    <div>
        <button [disabled]="!(checkedItems | async)?.length || validating" class="btn btn-primary" (click)="checkForms()">Check Form<span *ngIf="(checkedItems | async)?.length>1">s</span></button>
    </div>
  <div class="help_text">Select one or more forms to check and click "Check Form(s)".</div><br />
    <div class="formCriteriaCheckboxes" style="border-bottom:1px solid #000">
        <div style="display:none">
            <input type="checkbox" id="checkUom" name="checkUom" [disabled]="validating" (change)="setFormListOptionCheckbox($event)" ([ngModel])="checkUom" [checked]="(formListData | async)?.checkUom">
            <label for="checkUom">Check UOM</label>        
        </div>
        <div>
            <input type="checkbox" [disabled]="validating" id="checkStdCrfCde" name="checkStdCrfCde" (change)="setFormListOptionCheckbox($event)" ([ngModel])="checkStdCrfCde" [checked]="(formListData | async)?.checkStdCrfCde">
            <label for="checkStdCrfCde">Include check against CDEs in Standard CRF Modules</label>        
        </div>
        <div style="display:none">
            <input type="checkbox" [disabled]="validating" id="mustDisplayException" name="mustDisplayException" (change)="setFormListOptionCheckbox($event)" ([ngModel])="mustDisplayException" [checked]="(formListData | async)?.mustDisplayException">
            <label for="mustDisplayException">Display Exception Details</label>        
        </div>  
    </div><Br />
    <div *ngIf="validating">
        <app-progress-bar [statusMessage]="'Validating Form ' + getCurrentForm() + ' of ' + (checkedItems | async)?.length" [type]="'busy'" [percentage]="100"></app-progress-bar><br />
    </div>

    <table cellspacing="0" cellpadding="0" margin="0"class="alsFormList">
    <tr>
        <th>
            <input type="checkbox" [disabled]="validating" name="selectAllforms" aria-label="Check All Forms" (change)="setCheckAllStatus($event)" [checked]="(checkedItems | async)?.length==validItemsLength">
        </th>
        <th>
            Form Name
        </th>
        <th class="questionCount">
            Question Count
        </th>
        <th class="status">
            Parsing Status
        </th>
    </tr>  
    
    <ng-container *ngFor="let record of (formListData | async)?.formsList | formListsort:'formName'; let i = index">
        <!-- render this row always -->
        <tr [ngClass]="{'rowOdd':i%2==0,'rowEven':i%2==1}">
            <td class="checbox">
                <input type="checkbox" [disabled]="validating" attr.aria-label="{{record.formName}} checkbox" *ngIf="record.isValid" (change)="setCheckedItem(record)" name="checkedItem" value="a" [checked]="getCheckedStatus(record)">
                <span *ngIf="!record.isValid" class="fa fa-lg fa-exclamation-triangle"></span>
            </td>
            <td>
                <a *ngIf="!record.isValid" href="#"  (click)="setExpandCollapse(record)">
                    <span class="fa fa-lg formName" [ngClass]="{'fa-minus-square':record.expand,'fa-plus-square':!record.expand}"></span>
                </a>
                <span class="formName">{{record.formName}}</span>
            </td>
            <td class="questionCount">
                {{record.questionsCount}}
            </td>    
            <td class="status" [ngClass]="{'success':record.isValid,'fail':!record.isValid}"><B>{{getParsingStatus(record.isValid)}}</B></td>       
        </tr>
        <!-- end render this row always -->
        <!-- render and hide this row only if there is an error -->        
        <tr *ngIf="record['expand']" [ngClass]="{'rowError':record.expand}">
        <td></td>
        <td colspan="3" class="errorText">
            <div *ngFor="let error of record.errors">
                {{error.errorDesc}}
                <ul>
                    <li>Cell Value: {{error.cellValue}}</li>
                    <li>Sheet Name: {{error.sheetName}}</li>
                    <li>Row: {{error.rowNumber}}</li>
                    <li>Column: {{error.colIdx}}</li>
                </ul>
            </div>
        </td>
        </tr>        
        <!-- end render and hide this row only if there is an error -->
    </ng-container>
    </table>     
<br />

    <div class="formCriteriaCheckboxes">
        <div style="display:none">
            <input type="checkbox" id="checkUom_1" name="checkUom" (change)="setFormListOptionCheckbox($event)" ([ngModel])="checkUom" [checked]="(formListData | async)?.checkUom">
            <label for="checkUom_1">Check UOM</label>        
        </div>
        <div>
            <input type="checkbox" id="checkStdCrfCde_1" name="checkStdCrfCde" (change)="setFormListOptionCheckbox($event)" ([ngModel])="checkStdCrfCde" [checked]="(formListData | async)?.checkStdCrfCde">
            <label for="checkStdCrfCde_1">Check against CDEs in Standard CRF Modules</label>        
        </div>
        <div style="display:none">
            <input type="checkbox" id="mustDisplayException_1" name="mustDisplayException" (change)="setFormListOptionCheckbox($event)" ([ngModel])="mustDisplayException" [checked]="(formListData | async)?.mustDisplayException">
            <label for="mustDisplayException_1">Display Exception Details</label>        
        </div>  
    </div>

    <div>
        <button [disabled]="!(checkedItems | async)?.length || validating" class="btn btn-primary" (click)="checkForms()">Check Form<span *ngIf="(checkedItems | async)?.length>1">s</span></button>
    </div>    
</ng-container>

<div *ngIf="validating"><br />
    <app-progress-bar [statusMessage]="'Validating'" [type]="'busy'" [percentage]="100"></app-progress-bar><br />
</div>

