table {
    width:100%;
}
th {
    vertical-align:top;
    padding:5px 3px 5px 5px;
    color:#000;
    border-bottom:1px solid #000;
}

td {
    vertical-align:top;
    padding:5px 0px 5px 5px;
    border-bottom:1px solid #ddd;
}


a:hover {
    text-decoration: none;
}
span.formName{
    display:inline;
    vertical-align:middle;
    padding-right:10px;
}
.checkbox {
    width:40px;
}
.status {
    text-align:center 
}

.fail {
    background-color:#7f0a0a;
    color:#fff;
}
.rowError {
    padding:5px 0px 5px 0px;
    color:#000;
}
.rowError .errorText {
    padding-left:30px;
}
.questionCount {
    text-align:center 
}
.columnStatus {
    width:100px;
    text-align:center;
}
.rowOdd {
    background-color:#eee;
}
.rowEven {
    background-color:#fff;
}

.formCriteriaCheckboxes input {
    margin-right:10px;
    margin-left:10px;
}

