form {
    width:100%;
}
.odd {
    background-color:#EEEEEE;
}

.even {
    background-color:#fff;
}

.reportHeader{
    display:inline;
}
.reportHeader:last-child {
    float:right;
}

.reportHeader label {
    font-weight:bold;
    padding-right:10px;
}

.tableHeader {
    padding-left:4px;
    padding-bottom:4px;
    padding-top:5px;
    margin-bottom:0px;
    border-bottom:1px solid #000;
    font-weight:bold;
}