  <!-- Header -->
  <header>
    <div>
          <img src="../assets/images/nci-logo-full.__v1.svg" alt="National Cancer Institute">
    </div>
  </header>
<div id="utility-bar">
  <div class="cLinks">
    <i><a target="_blank" href="https://www.cancer.gov/about-cancer?cid=cgovnav_aboutcancer_cbiit.cancer.gov">about cancer</a></i>
    <i><a target="_blank" href="https://www.cancer.gov/types?cid=cgov_cancertypes_cbiit.cancer.gov">cancer types</a></i>
    <i><a target="_blank" href="https://www.cancer.gov/research?cid=cgov_research_cbiit.cancer.gov">research</a></i>
    <i><a target="_blank" href="https://www.cancer.gov/grants-training?cid=cgov_grantstraining_cbiit.cancer.gov">grants & training</a></i>
    <i><a target="_blank" href="https://www.cancer.gov/news-events?cid=cgov_newsandevents_cbiit.cancer.gov">news & events</a></i>
    <i><a target="_blank" href="https://www.cancer.gov/about-nci?cid=cgov_aboutnci_cbiit.cancer.gov">about nci</a></i>
  </div>
</div>
  <div id="topnavigation">
        <ul>
          <li id="links">
          <ul>
              <li><a [routerLink]="['/']">Home</a></li>
              <li><a [href]="formBuilderUrl" target="blank">Form Builder</a></li>
              <li><a [href]="cdeBrowserUrl" target="blank">CDE Browser</a></li>
              <li><a [routerLink]="['/']">Help</a></li>
          </ul>
          </li>
        </ul>
  </div>
  <!-- End Header -->

<div id="content">
<div id="container">
  <!-- Main content -->
  <div id="main">
      <div id="leftnav"><app-navigation></app-navigation></div>
    <div id="component">

        <router-outlet></router-outlet>
    </div>      
  </div>
  <!-- End of Main content -->



</div>
</div>
  <!-- Footer -->
  <footer>
      <p>
        <a href="http://www.dhhs.gov/" target="_blank">Department of Health and Human Services</a>  |   <a href="http://www.nih.gov/" target="_blank">National Institutes of Health</a>  |   <a href="http://www.cancer.gov/" target="_blank">National Cancer Institute</a>  |  <a href="http://www.usa.gov/" target="_blank">USA.gov</a>
      </p>
      <p>
        NIH...Turning Discovery Into Health®    
      </p>     
      <p>
        Build Time: {{timestamp}}
      </p>    
  </footer>
  <!-- End Footer -->
