<div id="container">

  <!-- Header -->
  <div id="header">
    <ul>
        <li id="logo"></li>
        <li id="title"><h2>Congruency Checker</h2></li>
        <li id="links">
          <ul>
              <li><a [routerLink]="['/']">Home</a></li>
              <li><a [href]="formBuilderUrl" target="blank">Form Builder</a></li>
              <li><a [href]="cdeBrowserUrl" target="blank">CDE Browser</a></li>
              <li><a [routerLink]="['/']">Help</a></li>
            </ul>
        </li>
    </ul>
  </div>
  <!-- End Header -->

  <!-- Main content -->
  <div id="main">
    <div id="navigation">
      <app-navigation></app-navigation>
    </div>

    <div id="component">

        <router-outlet></router-outlet>
    </div>      
  </div>
  <!-- End of Main content -->


  <!-- Footer -->
  <div id="footer">
      <p>
        <a href="http://www.dhhs.gov/" target="_blank">Department of Health and Human Services</a>  |   <a href="http://www.nih.gov/" target="_blank">National Institutes of Health</a>  |   <a href="http://www.cancer.gov/" target="_blank">National Cancer Institute</a>  |  <a href="http://www.usa.gov/" target="_blank">USA.gov</a>
      </p>
      <p>
        NIH...Turning Discovery Into Health®    
      </p>              
  </div>
  <!-- End Footer -->

</div>

