<div id="container">

  <!-- Header -->
  <div id="header">
    <ul>
        <li id="logo"></li>
        <li id="title"><h2>Congruency Checker</h2></li>
        <li id="links">
          <ul>
              <li>link</li>
              <li>link</li>
              <li>link</li>
              <li>link</li>
            </ul>
        </li>
    </ul>
  </div>
  <!-- End Header -->

  <!-- Main content -->
  <div id="main">
    <div id="navigation">
      <app-navigation></app-navigation>
    </div>

    <div id="component">
      <router-outlet></router-outlet>
    </div>      
  </div>
  <!-- End of Main content -->


  <!-- Footer -->
  <div id="footer">
      Department of Health and Human Services  |   National Institutes of Health  |   National Cancer Institute  |  USA.gov


      NIH...Turning Discovery Into Health®    
  </div>
  <!-- End Footer -->

</div>

